In [32]:
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import sklearn

In [33]:
pollution = pd.read_excel('PM2.5climate.xlsx')
pollution.head()

   No  year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   1  2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2  2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   3  2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   4  2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   5  2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [34]:
pollution.shape

(43824, 13)

Because the data have been preprocess, most of the variables will not be changed.
For data cleaning, we will check duplicated and empty variables and then make a decision whether to 
keep, change or drop the variables

In [35]:
pollution['pm2.5'].isnull().sum()
print('Total Missing values:', round(2067/43824*100,2),'%')

Total Missing values: 4.72 %

As seen in the exploratory data, only one attribute that have missing values of 2061, which is 0.047 or 4.7% of the total dataset

## Drop and Remove variables

In [36]:
pollution.drop(columns = ['No','hour'], inplace=True)
pollution.head()

   year  month  day  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0  2010      1    1    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1  2010      1    1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2  2010      1    1    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3  2010      1    1    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4  2010      1    1    NaN   -20 -12.0  1018.0   NW  12.97   0   0

In [46]:
indexNames = pollution[pollution['pm2.5'] == 'NaN'].index
pollution.drop(indexNames, inplace = True)
pollution.reset_index(drop = True, inplace = True)
pollution.head()

   year  month  day  pm2.5  DEWP  TEMP    PRES cbwd   Iws  Is  Ir
0  2010      1    2  129.0   -16  -4.0  1020.0   SE  1.79   0   0
1  2010      1    2  148.0   -15  -4.0  1020.0   SE  2.68   0   0
2  2010      1    2  159.0   -11  -5.0  1021.0   SE  3.57   0   0
3  2010      1    2  181.0    -7  -5.0  1022.0   SE  5.36   1   0
4  2010      1    2  138.0    -7  -5.0  1022.0   SE  6.25   2   0

In [47]:
pollution['pm2.5'].isnull().sum()

0

All the missing values will be dropped, if not it will impact to the data analysis. 
In addition, the missing values will not overall impact the dataset as it accounts for only 5% total, if it is replaced 
with mean values, it is not necessarily accurate due to the large value of dataset and potential outliers 
that can impact it

Both No is also dropped because it is the same as the index, the only differenc is it starts at 1, while 
index starts at 0, while hour is also not needed for the data analysis